<app-header></app-header>
<div *ngIf="hasError" class="row">
    <div class="alert alert-danger col-auto mx-auto mt-2">
        Erreur: emploi du temps introuvable
    </div>
</div>
<div *ngIf="emploi" class="container-fluid" style="min-width: 1260px;">
    <div class="row justify-content-center align-items-center m-2">
        <div class="col-auto">
            <select class="form-select" (change)="onCalendarTypeChange($event)">
                <option value="0" selected>Mois</option>
                <option value="1">Semaine</option>
            </select>
        </div>
        <div class="col-auto">
            <button (click)="this.previous()" class="btn"><span class="fa fa-arrow-left"></span></button>
        </div>
        <div class="col-auto">
            <mat-label>{{calendar.currentSelection}}</mat-label>
            <input hidden matInput [matDatepicker]="picker" (dateChange)="changeDate($event)" [value]="calendar.getRepere()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="col-auto">
            <button (click)="this.next()" class="btn"><span class="fa fa-arrow-right"></span></button>
        </div>
        <div class="col-auto">
            <span class="d-inline-block text-truncate text-dark" style="max-width: 160px;">{{emploi.nom}}</span>
        </div>
        <div class="col-auto">
            <ul class="nav nav-pills flex-row">
                <li>
                    <button class="nav-link" data-bs-toggle="modal" data-bs-target="#createEventModal">
                        Ajouter un evenement
                    </button>
                </li>
                <li>
                    <button class="nav-link" data-bs-toggle="modal" data-bs-target="#searchEventsModal" 
                    (click)="cleanSearch()">
                        Chercher un evenement
                    </button>
                </li>
                <li>
                    <button class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#updateEmploiModal">
                        Modifier l'emploi
                    </button>
                </li>
                <li>
                    <button class="nav-link" type="button" (click)="downloadEmploi()">
                        Telecharger l'emploi
                    </button>
                </li>
                <li>
                    <button class="nav-link text-danger" type="button" data-bs-toggle="modal"
                        data-bs-target="#confirmationModal">
                        Supprimer l'emploi
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="isMonthCalendar()" class="container">
        <div class="row">
            <div *ngFor="let day of days" class="col border">{{day}}</div>
        </div>
        <div *ngFor="let week of calendar.calendarPage" class="row">
            <div *ngFor="let dayCell of week" class="col border text-break">
                <h6 [ngClass]="dayCell.classLabel">
                    {{dayCell.label}}
                </h6>
                <ul class="list-unstyled">
                    <li *ngIf="dayCell.evenements.length > 3">
                        <button class="btn badge bg-danger rounded-pill" type="button" data-bs-toggle="modal"
                            data-bs-target="#listEventsModal" (click)="selectedCell = dayCell">
                            <span class="d-inline-block text-truncate" style="max-width: 120px;">
                                {{dayCell.evenements.length}} evenements
                            </span>
                        </button>
                    </li>
                    <div *ngIf="dayCell.evenements.length <= 3">
                        <li *ngFor="let event of dayCell.evenements" class="mb-1">
                            <button class="btn badge" [ngStyle]="{'background-color': event.couleur}" type="button"
                                data-bs-toggle="modal" data-bs-target="#eventDetailsModal"
                                (click)="calendar.showEventDetails(event.id)">
                                <span class="d-inline-block text-truncate" style="max-width: 120px;">
                                    {{event.description}}
                                </span>
                            </button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="isWeekCalendar()" class="container">
        <div class="row">
            <div class="col border">Heures</div>
            <div *ngFor="let day of days" class="col border">{{day}}</div>
        </div>
        <div *ngFor="let hourCells of calendar.calendarPage;let index = index" class="row">
            <div class="col border">
                {{index*2 + ':00'}} <br /> {{((index+1)%12)*2 + ':00'}}
            </div>
            <div *ngFor="let dayCell of hourCells" class="col border text-break">
                <ul class="list-unstyled">
                    <li *ngIf="dayCell.evenements.length > 2">
                        <button class="btn badge bg-danger rounded-pill" type="button" data-bs-toggle="modal"
                            data-bs-target="#listEventsModal" (click)="selectedCell = dayCell">
                            <span class="d-inline-block text-truncate" style="max-width: 120px;">
                                {{dayCell.evenements.length}} evenements
                            </span>
                        </button>
                    </li>
                    <div *ngIf="dayCell.evenements.length <= 2">
                        <li *ngFor="let event of dayCell.evenements" class="mb-1">
                            <button class="btn badge" [ngStyle]="{'background-color': event.couleur}" type="button"
                                data-bs-toggle="modal" data-bs-target="#eventDetailsModal"
                                (click)="calendar.showEventDetails(event.id)">
                                <span class="d-inline-block text-truncate" style="max-width: 120px;">
                                    {{event.description}}
                                </span>
                            </button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <app-details-event-modal [evenement]="calendar.selectedEvent" (emitter)="changeOnEvent($event)"
        [prefix]="getPrefix()">
    </app-details-event-modal>

    <app-create-event-modal (emitter)="changeOnEvent($event)" [prefix]="getPrefix()">
    </app-create-event-modal>

    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-hidden="true">
        <app-delete-emploi-modal [isUserEmploi]="isUserEmploi" [emploi]="emploi"></app-delete-emploi-modal>
    </div>
    <div class="modal fade" id="updateEmploiModal" tabindex="-1" aria-hidden="true">
        <app-update-emploi-modal (updateEmploiEvent)="this.emploi = $event" [isUserEmploi]="isUserEmploi"
            [emploi]="emploi"></app-update-emploi-modal>
    </div>

    <div class="modal fade" id="listEventsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Evenements</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div *ngIf="!selectedCell || selectedCell.evenements.length == 0" class="modal-body">
                    Pas d'evenements
                </div>
                <div *ngIf="selectedCell && selectedCell.evenements.length > 0" class="modal-body">
                    <div class="list-group">
                        <button *ngFor="let event of selectedCell.evenements"
                            class="list-group-item list-group-item-action mt-2 d-inline-block text-truncate"
                            type="button" data-bs-target="#eventDetailsModal" data-bs-toggle="modal"
                            data-bs-dismiss="modal" (click)="calendar.showEventDetails(event.id)"
                            [ngStyle]="{'background-color': event.couleur}">
                            {{event.description}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchEventsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Rechercher un evenement
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form #form="ngForm" (ngSubmit)="searchEvenements()">
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label class="col-auto col-form-label">Description : </label>
                            <div class="col-auto">
                                <input class='form-control' type="text" name="description"
                                    [(ngModel)]="searchForm.description">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-auto col-form-label">De :</label>
                            <div class="col-auto">
                                <input class="form-control" type="date" name="dateDebut" required
                                    [(ngModel)]="searchForm.dateDebut">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-auto col-form-label">A :
                            </label>
                            <div class="col-auto">
                                <input class="form-control" type="date" name="dateFin" required
                                    [(ngModel)]="searchForm.dateFin">
                            </div>
                        </div>
                        <div *ngIf="searchResult" class="list-group">
                            <button *ngFor="let event of searchResult"
                                class="list-group-item list-group-item-action mt-2 d-inline-block text-truncate"
                                type="button" data-bs-target="#eventDetailsModal" data-bs-toggle="modal"
                                data-bs-dismiss="modal" (click)="calendar.showEventDetails(event.id)"
                                [ngStyle]="{'background-color': event.couleur}">
                                {{event.description}}
                            </button>
                            <div *ngIf="searchResult.length == 0">
                                Pas de résultats
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary col-auto" type="submit" [disabled]="form.invalid">
                            Chercher
                        </button>
                        <button class="btn btn-secondary col-auto" type="button"
                            data-bs-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>