<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger" id="confirmationModalLabel">Supprimer l'emploi du temps</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Êtes-vous sûr ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteEmploi()">
                Oui, supprimer l'emploi du temps</button>
        </div>
    </div>
</div>